__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/

.venv
*.db
*.sqlite3


.idea/
.vscode/
*.log
*.pyc
.DS_Store
alembic/versions/*.pyc

frontend/node_modules/


OPTIMIZATION_NOTES.md
fulfil_env/
dump.rdb
DEPLOYMENT.md